@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: yekan;
}
@font-face {
  font-family: yekan;
  src: url("../fonts/Yekan\ Bakh\ Fa-En\ 06\ Bold.woff");
}
body {
  font-family: yekan;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ab1414;
}

nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

nav.sticky {
  padding: 3px 0;
  border-radius: 35px;
  height: 57px;
  width: 98%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  right: 10px;
}
.navbar {
  background: #ab1414;
  padding: 13px 0;
  border-radius: 35px;
  height: 57px;
  width: 98%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  right: 10px;
}

.navbar .menu a:hover {
  color: #111420;
  font-size: 19px;
}
nav.sticky:hover {
  color: #ab1414;
  font-size: 19px;
}

nav .navbar {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}
nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 15px;
  color: white;
  padding: 6px 0;
  transition: all 0.4s ease;
}

nav.sticky .menu a {
  color: #fff;
}

nav.sticky .menu a:hover {
  color: #0e2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #fff;
}

/* Side Navigation Menu Button CSS */

nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #fff;
}

.navbar .menu .menu-btn {
  color: #fff;
}
.navbar .media-icons a {
  color: #4070f4;
  font-size: 14px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #fff;
}
.button-h {
  background-color: #084569;
  color: #f1f1f1;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin: 3px;
  border: none;
  text-align: center;
  vertical-align: center;
  transition: all 500ms linear;
}
.button-h:hover {
  background-color: yellow;
  color: #0e2431;
  width: 100px;
  border: #6e93f7;
  direction: ltr;
  display: inline-block;
}
.button-h-cart {
  background-color: #084569;
  color: #f1f1f1;
  border-radius: 10px;
  width: 55px;
  height: 30px;

  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  transition: all 500ms linear;
}

/* end of navbar */

section.s-header {
  padding: 150px;
  width: 100%;
  height: 50px;
}

.title-page {
  position: absolute;
  display: inline;
  font-size: 35px;
  right: 50px;
}

/* Responsive Media Query */

@media (max-width: 1190px) {
  section {
    width: 85%;
  }
}
@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: #4070f4;
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
}

@media (max-width: 924px) {
  nav.sticky {
    font-size: 8px;
    display: flex;
  }
}
/* footer code */
:root {
  --footer-background: white;
  --text-color: #111420;
  --text-gray: #e1e1e1;
  --text-heading-gray: #b9b9b9;
}
/*? footer reset */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*? footer containers */

footer {
  bottom: 0px;
  background-color: var(--footer-background);
  min-width: 300px;
  width: 100%;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  background: var(--footer-background);
  flex-direction: column;
  max-width: 1320px;
  padding: 16px;
}

/*? top section */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  padding: 16px 0px;
  justify-content: space-between;
}

.footer-line {
  display: block;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #5da8ff, #605dff 50%, #ad63f6);
}

/*? footer subscribe */
.footer-subscribe {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-subscribe > input {
  border: 1px solid var(--text-gray);
  color: var(--text-color);
  min-height: 36px;
  font-size: 1.2rem;
  flex: 1 0 120px;
  padding: 8px 12px;
  border-radius: 8px;
}

.footer-subscribe > button {
  cursor: pointer;
  background-color: var(--text-color);
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  min-width: 120px;
  min-height: 36px;
  flex: 1 0 80px;
  white-space: nowrap;
  padding: 8px 12px;
  border: 0px;
  outline: none;
}

/*? footer columns */
.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex: 2 0 140px;
  width: 100%;
  gap: 16px;
  padding: 24px 8px 16px 8px;
  margin: 0 auto;
  border-top: 1px solid var(--text-gray);
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 16px;
}

.footer-columns h3 {
  color: var(--footer-heading-gray);
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.125rem;
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns > section {
  min-width: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  min-width: 180px;
  gap: 8px;
}

.footer-logo > svg {
  stroke: var(--text-color);
  stroke-width: 8px;
  width: 50px;
}

/* Footer bottom */

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--text-gray);
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 16px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-bottom > small {
  font-size: 16px;
  margin: 0 4px;
}

.footer-headline > h2 {
  margin: 0px;
}

.footer-headline > p {
  margin: 12px 0px;
}

/*? socials */

.social-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

/*? mobile */

@media (max-width: 800px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 8px 32px 8px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
  }
}
footer {
  text-align: center;
  align-items: center; /* start footer code */
  :root {
    --footer-background: white;
    --text-color: #111420;
    --text-gray: #e1e1e1;
    --text-heading-gray: #b9b9b9;
  }
  /*? footer reset */
  *,
  *::after,
  *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /*? footer containers */

  footer {
    bottom: 0px;
    background-color: var(--footer-background);
    min-width: 300px;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
  }

  /*? top section */
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
  }

  .footer-line {
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #5da8ff, #605dff 50%, #ad63f6);
  }

  /*? footer subscribe */
  .footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  .footer-subscribe > input {
    border: 1px solid var(--text-gray);
    color: var(--text-color);
    min-height: 36px;
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 8px 12px;
    border-radius: 8px;
  }

  .footer-subscribe > button {
    cursor: pointer;
    background-color: var(--text-color);
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    min-width: 120px;
    min-height: 36px;
    flex: 1 0 80px;
    white-space: nowrap;
    padding: 8px 12px;
    border: 0px;
    outline: none;
  }

  /*? footer columns */
  .footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
    border-top: 1px solid var(--text-gray);
  }

  .footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
  }

  .footer-columns ul a:hover {
    text-decoration: underline;
  }

  .footer-columns ul li {
    margin-bottom: 16px;
  }

  .footer-columns h3 {
    color: var(--footer-heading-gray);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
  }

  .footer-centering {
    margin: 0 auto;
  }

  .footer-columns > section {
    min-width: 150px;
  }

  .footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    min-width: 180px;
    gap: 8px;
  }

  .footer-logo > svg {
    stroke: var(--text-color);
    stroke-width: 8px;
    width: 50px;
  }

  /* Footer bottom */

  .footer-bottom {
    text-align: center;
    border-top: 1px solid var(--text-gray);
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
  }

  .footer-headline > h2 {
    margin: 0px;
  }

  .footer-headline > p {
    margin: 12px 0px;
  }

  /*? socials */

  .social-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
  }

  .social-links img:hover {
    transform: scale(1.1);
  }

  /*? mobile */

  @media (max-width: 800px) {
    .footer-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 16px 8px 32px 8px;
    }

    .footer-bottom {
      display: flex;
      flex-direction: column-reverse;
      align-items: space-between;
      justify-content: center;
      margin: 0 auto;
    }
  }
}
/* end of footer code */
section.courses {
  background-color: #f0f0f0;
  width: 100%;
  height: auto;
}

div.Grouping {
  padding-right: 150px;
}
button.group {
  margin: 5px;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  background-color: white;
  color: black;
  border: none;
}
button.group:hover {
  border: 1px solid rgb(202, 168, 0);
  color: rgb(202, 168, 0);
}
.line1-card {
  display: flex;
}
/* card courses */

.nft {
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins {
    text-decoration: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    .tokenImage {
      border-radius: 0.5rem;
      max-width: 100%;
      object-fit: cover;
    }
    .description {
      margin: 0.5rem 0;
      color: #a89ec9;
    }
    .tokenInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins {
          margin-left: -0.3rem;
          margin-right: 0.5rem;
        }
      }
      .duration {
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: 0.2rem;
        ins {
          margin: 0.5rem;
          margin-bottom: 0.4rem;
        }
      }
    }
    .creator {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      margin-bottom: -0.3rem;
      ins {
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img {
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    }
  }
}
